.first-view {
    position: relative;
    
}
.first-view__img {
    background-image: url(../img/Blondwoman.png);
    width: 57%;
    height:100vh;
    margin-left:auto;
    background-size: cover;
    @include sp {
        width:100%;
        height:90vh;
        margin:0;
    }
}

.first-view {
    .first-view__catch1 {
        position: absolute;
        top:400px;
        left:163px;
        @include sp {
            color: #fff;
            transform: translate(-15%,300%);;
        }
    }
    .first-view__catch2 {
        font-size: 3.8rem;
        font-family: "Zapfino"; 
        position: absolute;
        bottom:350px;
        left:107px;
        line-height: 128px;
        width: 380px;
        @include sp {
            color: #fff;
            transform: translate(10%,-140%);;
        }
    }
}
